[submodule "COL783/A1/sharedGit/P1"]
	path = COL783/A1/sharedGit/P1
	url = https://github.com/sarthak-panda/COL783_A1_P1.git
[submodule "COL851/PROJECT/external/COL851_Project"]
	path = COL851/PROJECT/external/COL851_Project
	url = https://github.com/sarthak-panda/COL851_Project.git
[submodule "COL740/ASSIGNMENTS/GIT/external/Software-engineering"]
	path = COL740/ASSIGNMENTS/GIT/external/Software-engineering
	url = https://github.com/pv0504/Software-engineering.git
[submodule "COL783/A2/external/COL783_A2"]
	path = COL783/A2/external/COL783_A2
	url = https://github.com/ujjawal0702/COL783_A2.git
