*.exe
COL851/ASSIGNMENTS/Reading/flash-attention-main
COL851/PROJECT/LOCAL/.venv
COL783/A2/LOCAL/venv
COL740/ASSIGNMENTS/GIT/LOCAL/.venv
COL783/A2/TEST_PRE_SUBMISSION/2022CS51137_2022CS51217/Submission_Files/venv
COL783/A3/LOCAL/venv
COL783/A3/PreTests/Submission/Submission/venv
COL783/A4/LOCAL/venv
COL783/A4/LOCAL/venv-linux

.annotations
